.modal_perfil {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: end;
  opacity: 0;
  visibility: hidden;
  font-size: 30px;
}
.elmodal_perfil {
  width: 500px;
  height: 100%;
  background-color: #323232dc;
  border: 1px solid #323232;
  color: white;
  text-align: center;
  position: relative;
  transition: transforma 1s;
  transform: translateY(0%);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 19px 38px,
    rgba(0, 0, 0, 0.32) 0px 15px 12px;
}
.close_perfil {
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  color: #0d7377;
  cursor: pointer;
}
.close_perfil:hover {
  color: #14ffec;
}
.modal_close_perfil {
  transform: translateY(0%);
}
.titulo_perfil {
  margin: 12px;
  margin-top: 50px;
  margin-bottom: 80px;
  align-items: flex-start;
  justify-items: center;
  font-size: 40px;
  border-bottom: solid 1px #ffffff;
}

.btn_perfil_datos {
  --color: #0d7377;
  --color2: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 40px;
  background-color: transparent;
  transition: 0.5s ease;
  position: relative;
  bottom: 10px;
  margin-left: 9%;
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-size: 22px;
  text-transform: uppercase;
  color: #ffffff;
  border: solid 1px #0d7377;
  border-radius: 8px;
}

.btn_perfil_datos::before {
  content: "";
  display: block;
  height: 110%;
  width: 310%;
  transform: translate(0, -50%);
  position: absolute;
  top: 50%;
  left: -5%;
  z-index: -1;
  transition: 1s;

  background: -moz-linear-gradient(45deg, var(--color2) 33%, var(--color) 66%);
  background: -webkit-linear-gradient(
    45deg,
    var(--color2) 33%,
    var(--color) 66%
  );
  background: linear-gradient(45deg, var(--color2) 33%, var(--color) 66%);
}
.btn_perfil_datos:hover::before {
  left: -200%;
}
.btn_perfil_datos:hover {
  color: #ffffff;
}
.btn_perfil_datos:hover .img_perfil {
  color: #212121;
  transition: 0.7s;
}
.btn_perfil_datos:active {
  transform: scale(0.98);
  filter: brightness(0.8);
}

.btn_perfil_pedidos {
  --color: #0d7377;
  --color2: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 40px;
  background-color: transparent;
  transition: 0.5s ease;
  position: relative;
  bottom: 10px;
  margin-left: 9%;
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-size: 22px;
  text-transform: uppercase;
  color: #ffffff;
  border: solid 1px #0d7377;
  border-radius: 8px;
}

.btn_perfil_pedidos::before {
  content: "";
  display: block;
  height: 110%;
  width: 310%;
  transform: translate(0, -50%);
  position: absolute;
  top: 50%;
  left: -5%;
  z-index: -1;
  transition: 1s;

  background: -moz-linear-gradient(45deg, var(--color2) 33%, var(--color) 66%);
  background: -webkit-linear-gradient(
    45deg,
    var(--color2) 33%,
    var(--color) 66%
  );
  background: linear-gradient(45deg, var(--color2) 33%, var(--color) 66%);
}
.btn_perfil_pedidos:hover::before {
  left: -200%;
}
.btn_perfil_pedidos:hover {
  color: #ffffff;
}
.btn_perfil_pedidos:hover .img_perfil {
  color: #212121;
  transition: 0.7s;
}
.btn_perfil_pedidos:active {
  transform: scale(0.98);
  filter: brightness(0.8);
}

.btn_perfil_cerrar_sesion {
  --color: #0d7377;
  --color2: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 40px;
  background-color: transparent;
  transition: 0.5s ease;
  position: absolute;
  bottom: 10px;
  margin-left: 9%;
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-size: 22px;
  text-transform: uppercase;
  color: #ffffff;
  border: solid 1px #0d7377;
  border-radius: 8px;
}

.btn_perfil_cerrar_sesion::before {
  content: "";
  display: block;
  height: 110%;
  width: 310%;
  transform: translate(0, -50%);
  position: absolute;
  top: 50%;
  left: -5%;
  z-index: -1;
  transition: 1s;

  background: -moz-linear-gradient(45deg, var(--color2) 33%, var(--color) 66%);
  background: -webkit-linear-gradient(
    45deg,
    var(--color2) 33%,
    var(--color) 66%
  );
  background: linear-gradient(45deg, var(--color2) 33%, var(--color) 66%);
}
.btn_perfil_cerrar_sesion:hover::before {
  left: -200%;
}
.btn_perfil_cerrar_sesion:hover {
  color: #ffffff;
}
.btn_perfil_cerrar_sesion:hover .img_perfil {
  color: #212121;
  transition: 0.7s;
}
.btn_perfil_cerrar_sesion:active {
  transform: scale(0.98);
  filter: brightness(0.8);
}

@media (max-width: 767px) {
  .elmodal_perfil {
    width: 100vw !important;
  }
}
